
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <style>
      body {
        font-family: 'Bangers', cursive;
        /*font-family: 'Oswald', sans-serif;*/
        font-size: 45px;
      }

    </style>
</head>
<div class="parallax-container">
   <div class="parallax"><img src="https://usercontent1.hubstatic.com/6894236_f520.jpg"></div>
 </div>
 <div class="section white">
   <div class="row container">
       <p class="grey-text text-darken-3 lighten-3">
       <p>Q: How do I use Gener8?</p>
         <small>A: Gener8 was designed for the exerciser on-the-go! In a rush to workout, or don't feel like thinking of a workout, have not fear. Gener8 is here. To create your own custom workout, simply hit the Gener8 button. </small>
       <p>Q: What are the movements?</p>
        <small>A: The movements are a selection of Gymnastic, Powerlifting, Olympic Weightlifting, Kettlebell, Parkour and Cardio elements. They are functional and effective.</small>
       <p>Q: Are there different styles of workout?</p>
       <small>A: AMRAP (as many rounds and reps as possible) - continue through the reps per movement, in the assigned order until time runs out. Your score is total rounds plus extra reps completed.
       </small>
       <p><small> Rounds For Time - this is a task-priority workout where the goal is to complete the specified number of rounds as quickly as possible. Your score is time completed. If time runs out before completion, your score is total rounds plus extra reps.</small></p>
       <p><small> EMOM (every minute on the minute) - this is an interval-style workout. At the top of each minute, complete one round of work. Any remaining time in that minute is rest. Your goal is to stay ahead of the clock. Score will be rounds successfully completed. **Note: Every 2/3 minutes on the minute is the same idea, but longer intervals with more work to complete.</small></p>

       <p>Q: Is it possible to die from one of these workouts?</p>
       <small>A: Anything's possible.</small>
       <p>Q: Where can I learn what each movement is?</p>
       <small>A: Click on the Movement button for a short explanation and link to demo video.</small>
       <p>Q: Am I ready for this?</p>
       <small>A: You'll never know unless you give it a try. Worst case scenario, you die.</small>
       <p>Q: Where do I track my progess?</p>
        <small>A: Fill out the form beneath the workout.</small>
       <p>How can I see what my friends or other memebers have done on the same workout?</p>
       <small>A: Don't be pushy, we're trying our best to work on added functionality for our members.</small>
       <center><a class="waves-effect waves-light btn" href="/users/id">Start</a></center>
   </div>
 </div>
 <div class="parallax-container">
   <div class="parallax"><img src="http://vikingweightlifting.com/wp-content/uploads/2012/06/Eleiko-Weightlifting-Equipment.jpg"></div>
 </div>
</html>
