
<div class="parallax-container">
   <div class="parallax"><img src="http://vikingweightlifting.com/wp-content/uploads/2012/06/Eleiko-Weightlifting-Equipment.jpg"></div>
 </div>
 <div class="section white">
   <div class="row container">
     <h2 class="header">What is gener8?</h2>
       <p class="grey-text text-darken-3 lighten-3">
       <p>A fitness solution for exercisers on the go.</p>
       <p>Leave the hard stuff to us, you just embrace the suck.</p>
       <p>What movements do we use? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sequi vel, perspiciatis, rerum minima nulla eligendi facere iste consectetur maiores error magnam repellendus non, magni dolorum eius delectus consequatur doloribus.</p>
   </div>
 </div>
 <div class="parallax-container">
   <div class="parallax"><img src="https://usercontent1.hubstatic.com/6894236_f520.jpg"></div>
 </div>
