
 <div class="fullscreen slider">
    <ul class="slides">
      <li>
        <img src="https://usercontent1.hubstatic.com/6894236_f520.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>GENER8</h3>
        </div>
      </li>
      <li>
        <img src="http://vikingweightlifting.com/wp-content/uploads/2012/06/Eleiko-Weightlifting-Equipment.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Embrace the suck</h3>
        </div>
      </li>
      <li>
        <img src="http://cdn.wallpapersafari.com/94/45/q3CaLX.jpg"> <!-- random image -->
        <div class="caption center-align">
          <a href="/users/new"><h3>Enter</h3>
        </div>
      </li>
    </ul>
  </div>
