
<% User.all.each do |user| %>
<div class="card">
  <div class="card-header">
    <img src="<%= "#{user.photo_url}"%>"/>
  </div>
  <div class="card-content">
    <h3><%= user.name %> </h3>
    <h4><%= user.profile.birthday %></h4>
    <p><%= user.profile.summary %></p>
    <a class="btn waves-effect white grey-text darken-text-2" href="/users/id">ADD FRIEND</a>
  </div>
  <div class="card-footer">
    <ul>
      <li>
        <a href="#"><i class="fa fa-codepen"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-stack-overflow"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
</div>
<% end %>
