<center>
  <a class="waves-effect waves-light btn-large black">GENER8 New</a><br><br>
    <h3>Browse Workouts</h3><br>

      <% @workouts.each do |workout| %>
        <%= link_to "#{workout.name}", workout_path(workout.id)  %><br>
      <% end %></center>

<div class="row">
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <p>Content </p>
      </div>

      <div id="structure" class="section scrollspy">
        <p>Content </p>
      </div>

      <div id="initialization" class="section scrollspy">
        <p>Content </p>
      </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#introduction">Workouts</a></li>
        <li><a href="#structure">Still Workouts</a></li>
        <li><a href="#initialization">Even more workouts...</a></li>
      </ul>
    </div>
  </div>
