<center><br>
<%= form_for @workout do |f| %>
  <%= f.label :time_domain, "TIME DOMAIN" %>
  <h1 style="color:white;"><%= f.number_field :time_domain, min: 5, max: 60, :style => "width:60px", :required => true %></h1>
  <%= f.submit "Generate Workout" %>
<% end %></center>
