<center><h1>New Workout</h1><br>
<%= form_for @workout do |f| %>
  <%= f.label :time_domain, "TIME DOMAIN" %>
  <%= f.number_field :time_domain, min: 5, max: 60, :style => "width:70px" %>
  <%= f.submit "Generate Workout" %>
<% end %></center>
