<center><h1><%= @workout.name %></h1><br>
  <h1><%= "AMRAP #{@workout.time_domain}:" %></h1>
  <h2><% @reps_array.zip(@hopper.workout.movements).each do |rep, move| %>
    <%= "#{rep} #{move.name}" %><br>
  <% end %></h2></center>
