
<nav>
 <div class="nav-wrapper black">
   <a href="/workouts/new" class="brand-logo center">GENER8</a>
   <a href="#" data-activates="mobile-demo" class="button-collapse">
</a>
   <ul class="right hide-on-med-and-down">
     <li><a href="/about">About</a></li>
     <li><a href="/movements">The Movements</a></li>
     <li><a href="/workouts">The Workouts</a></li>
     <li><a href="/users/user_id/profile">Members</a></li>
   </ul>
 </div>
</nav>
