
<nav>
 <div class="nav-wrapper red darken-2">
   <a href="#!" class="brand-logo center">GENER8</a>
   <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
   <ul class="right hide-on-med-and-down">
     <li><a class="waves-effect waves-light btn blue-grey lighten-2" href="/">Login | Signup </a></li>
     <li><a href="/about">About</a></li>
     <li><a href="/movements">Movement Library</a></li>
     <li><a href="/workouts">The Workouts</a></li>
     <li><a href="">FAQ</a></li>
   </ul>
 </div>
</nav>
